.container {
  max-width: 1500px;
  width: 100%;
  margin-inline: auto;
}

.flex {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.desktop-active {
  background-color: var(--light-black);
  padding: 18px 30px;
  border-radius: 50px;
}

.mobile-active {
  background-color: var(--light-black);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
}

.heading {
  font-family: "GRIFTER";
}

.nav-active {
  display: block;
}

.sm-gap {
  gap: 5px;
}

.light-blue {
  background-color: #61dbfb;
}

.light-green {
  background-color: #3fa037;
}

.dark-green {
  background-color: #3c873a;
}
.dark-orange {
  background-color: #e34c26;
}
.dark-blue {
  background-color: #264de4;
}
.purple {
  background-color: #a259ff;
}
.dark-brown {
  background-color: #340100;
}
.navy-blue {
  background-color: #001e36;
}
.carrot-orange {
  background-color: #ef5b25;
}
.github {
  background-color: #171515;
}

.yellow {
  background-color: #f7df1e;
}
