@media screen and (max-width: 1200px) {
  .header,
  .main {
    padding: 0 20px;
  }

  .about-section,
  .contact-section {
    padding: 40px 20px;
  }

  .about-section .about-wrapper,
  .about-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .about-section
    .about-wrapper
    .about-me-content
    .tools-skills
    .tools-skills-tags {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .mobile-navbar {
    display: block;
  }

  .main {
    height: 60svh;
  }

  .project-section {
    height: 80svh;
  }

  .coming-soon h2,
  .soon span {
    font-size: 3rem;
  }

  .soon span {
    letter-spacing: 0;
  }
}
