@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&display=swap");

@font-face {
  font-family: "GRIFTER";
  src: url("/fonts/grifterbold.woff2") format("woff2"),
    url("/fonts/grifterbold.woff") format("woff"),
    url("/fonts/grifterbold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --light-black: #171717;
  --dark-gray: #222222;
  --light-blue: #61dbfb;
  --light-green: #3fa037;
  --dark-green: #3c873a;
  --dark-orange: #e34c26;
  --dark-blue: #264de4;
  --purple: #a259ff;
  --dark-brown: #340100;
  --navy-blue: #001e36;
  --carrot-orange: #ef5b25;
  --github: #171515;
}

body {
  background-color: var(--light-black);
  color: var(--white);
  font-family: "DM Sans", sans-serif;
}

/* Global styling */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

hr {
  border: 2px solid rgba(255, 255, 255, 0.1);
}

/* Header/Navbar */
.header {
  height: 100px;
  background-color: var(--light-black);
  padding: 20px 140px;
}

.header .navbar {
  background-color: var(--dark-gray);
  border-radius: 50px;
  padding: 22px 5px;
}

.header .navbar .ul li a {
  padding: 18px 30px;
}

/* Mobile Navbar */
.mobile-navbar {
  display: none;
}

.mobile-navbar .mob-nav {
  display: none;
  position: absolute;
  right: 20px;
  top: 90px;
  background-color: var(--dark-gray);
  padding: 5px;
  width: 140px;
  border-radius: 10px;
  z-index: 2;
}

.mobile-navbar .menu {
  background-color: var(--dark-gray);
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.mobile-navbar .mob-nav ul li {
  padding: 10px 0;
}

.mobile-navbar .mob-nav ul li a {
  padding-left: 20px;
}

/* Home Section */
.main {
  height: calc(100vh - 100px);
}

.main .home-wrapper h1 {
  font-size: clamp(3rem, 10vw, 6rem);
}

.main .home-wrapper p {
  font-size: 1.5rem;
  max-width: 100%;
  width: 711.541px;
  text-align: center;
  margin: 20px 0;
}

.main .home-wrapper .btn {
  border-radius: 50px;
  background: linear-gradient(
    277deg,
    #a5dae6 1.04%,
    #8f9ff5 21.78%,
    #aa74d1 44.88%,
    #cc73aa 66.09%,
    #ef7283 91.55%
  );
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  padding: 20px 40px;
}

.main .home-wrapper .hand-emoji {
  animation: waving-hand 2.5s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

/* Project Page */
.project-section {
  height: calc(100vh - 100px);
}

.project-section .project-wrapper h2 {
  font-size: clamp(4rem, 10vw, 8rem);
  text-align: center;
}

.project-section .project-wrapper h2.letter-gap {
  letter-spacing: clamp(1.5rem, 10vw, 2.88rem);
}

/* Contact Page */
.contact-section {
  height: calc(100vh - 100pc);
  padding: 60px 140px;
}

.contact-section hr {
  margin-top: 20px;
  margin-bottom: 30px;
}

.contact-section .contact-wrapper .email-link {
  font-weight: 600;
}

/* Animations */
@keyframes waving-hand {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
