* {
    margin: 0;
    padding: 0;
    /* outline: 2px solid red; */
}

:root {
    --primary-color: #222222;
    --secondary-color: #1f1f1f;
    --yellow-color: #F2AA4C;
    --light-grey: #e9e9e9;
    --white-color: #fff;
}

body {
    box-sizing: border-box;
    font-family: inter;
    background-color: var(--primary-color);
    /* padding: 0 170px; */
    color: var(--light-grey);
    /* overflow-x: hidden; */
}

.first {
    padding: 136px 0;
    display: flex;
    justify-content: space-between;
    padding: 80px 170px;
}

.first .intro h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 6.263rem;
    line-height: 121px;
}

.first .intro p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    max-width: 298px;
}

.first .intro .social i {
    padding: 20px;
    padding-left: 0;
    cursor: pointer;
    margin-top: 14px;
}

.first .intro button {
    background-color: var(--yellow-color);
    color: var(--light-grey);
    border: none;
    font-size: 28px;
    padding: 16px 34px;
    cursor: pointer;
    margin-top: 14px;
}

.first .intro button:hover {
    color: var(--yellow-color);
    background-color: var(--light-grey);
    transition: all .5s;
}

.second {
    background-color: var(--secondary-color);
    margin-top: 120px;
    padding: 80px 170px;
    max-width: 100%;
    /* display: none; */
}

.second .aboutWrapper .aboutMe h1 {
    font-weight: 700;
    font-size: 50px;
}

.second .aboutWrapper .aboutMe p {
    max-width: 1000px;
    font-weight: 400;
    font-size: 1.625rem;
    margin-top: 40px;
}

.second .aboutWrapper .query {
    text-align: right;
    margin-top: 115px;
}

.second .aboutWrapper .query h3 {
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 30px;
}

.second .aboutWrapper .query p {
    font-weight: 500;
    font-size: 1.375rem;
    margin-bottom: 30px;
}

.second .aboutWrapper button {
    max-width: 294px;
    background-color: var(--yellow-color);
    font-size: 1.625rem;
    color: var(--light-grey);
    border: none;
    cursor: pointer;
    padding: 20px;
}

.second .aboutWrapper button:hover {
    color: var(--yellow-color);
    background-color: var(--light-grey);
    transition: all .5s;
}

.third {
    background-color: var(--primary-color);
    margin-top: 120px;
    /* display: none; */
}

.third .services {
    text-align: center;
    font-weight: 700;
    font-size: 99.3103px;
    margin-bottom: 75px;
}

.third .servicesWrapper .design {
    display: flex;
    background-color: var(--yellow-color);
    margin: 0 170px;
    height: 450px;
    max-width: 1500px;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
}

.third .servicesWrapper .design .aboutDesign h1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 18px;
}

.third .servicesWrapper .design .aboutDesign p {
    max-width: 642px;
    height: 242px;
    font-weight: 500;
    font-size: 24px;
}

.third .servicesWrapper .design .designImg {
    margin-right: 80px;
}

.third .servicesWrapper .web {
    display: flex;
    background-color: var(--yellow-color);
    max-width: 1500px;
    margin: 100px 170px;
    height: 450px;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
}

.third .servicesWrapper .web .aboutWeb h1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 18px;
}

.third .servicesWrapper .web .aboutWeb p {
    max-width: 642px;
    height: 242px;
    font-weight: 500;
    font-size: 24px;
}

.third .servicesWrapper .web .webImg {
    margin-right: 80px;
}

.fourth {
    margin-top: 120px;
    padding: 80px 170px;
    /* display: none; */
}

.fourth .worked {
    text-align: center;
    font-weight: 700;
    font-size: 99.3103px;
    margin-bottom: 80px;
}

.fourth .clientWrapper {
    display: grid;
    grid-template-columns: 360px 360px 0;
}

.fourth .clientWrapper img {
    width: 250px;
    height: auto;
    padding: 50px 0;
}

footer{
    text-align: center;
    margin-top: 120px;
    background-color: var(--secondary-color);
    padding: 50px 0;
    width: 100%;
    /* display: none; */
}

footer h1{
    font-size: 60px;
}

footer h3{
    font-size: 30px;
    line-height: 80px;
}