@font-face {
    font-family: 'GRIFTER';
    src: url('fonts/grifterbold.eot');
    src: url('fonts/grifterbold.eot?#iefix') format('embedded-opentype'),
         url('fonts/grifterbold.woff2') format('woff2'),
         url('fonts/grifterbold.woff') format('woff'),
         url('fonts/grifterbold.ttf')  format('truetype'),
         url('fonts/grifterbold.svg#GRIFTER') format('svg');
}