@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

@font-face {
    font-family: 'GRIFTER';
    /* src: url('/src/fonts/grifterbold.eot'); */
    src:
        url('/src/fonts/grifterbold.woff2') format('woff2'),
        url('/src/fonts/grifterbold.woff') format('woff'),
        url('/src/fonts/grifterbold.ttf') format('truetype');
}

.about-wrapper {
    padding: 80px 120px;
    text-align: center;
}

.about-header h2 {
    font-family: 'GRIFTER';
    font-size: clamp(1.5rem, 10vw, 2.625rem);
}

.about-header img {
    max-width: clamp(1.5rem, 10vw, 2.625rem);
}

.my-img {
    margin: 20px 0;
}

.my-img img {
    max-width: 70%;
    filter: grayscale(100%);
    transition: all .3s ease;
}

.my-img img:hover {
    filter: grayscale(0);
}

.about-me p {
    font-family: "DM Sans";
    text-align: left;
    line-height: 200%;
    font-size: clamp(1rem, 7vw, 1.25rem);
}

@media screen and (width <=1000px) {
    .about-wrapper {
        padding: 80px 20px;
    }
}