/* Utility Classes */
.flex {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Navbar */
.navbar {
  max-width: 1180px;
  margin-inline: auto;
  height: 100px;
  padding: 0 120px;
  align-items: center;
  justify-content: space-between;
  background-color: #171717;
  transition: all 0.3s ease;
}

.logo img {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.nav-links {
  background-color: #222222;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 20px 10px;
}

.navbar a {
  color: white;
  padding: 0 30px;
}

a.active {
  background-color: #171717;
  border-radius: 50px;
  padding: 12px 29px;
}

/* .active {
  background-color: #171717;
  padding: 15px 28px;
  border-radius: 50px;
  transition: margin 0.3s ease;
} */

/* .active.no-margin-right {
  margin-right: -15px;
  margin-left: 20px;
} */

@media screen and (width <=1000px) {
  .navbar {
    padding: 0 20px;
  }
}
